[nytimes]
start_date_year = 2015
start_date_month = 08
start_date_day = 21
end_date_year = 2016
end_date_month = 6
end_date_day = 18

[crawler]
threads = 32
#Should be a comma separated list
newsSources = nytimes,dummy

[parsearticle]
#Local
#data_root_dir = /home/alex/Desktop/dsforthepeople/data
data_root_dir = /home/maevyn/Documents/dsforthepeople/data
#AWS
data_root_dir = /data
