[nytimes]
start_date_year = 2006
start_date_month = 01
start_date_day = 01
end_date_year = 2016
end_date_month = 07
end_date_day = 03

[crawler]
threads = 32
#Should be a comma separated list
newsSources = nytimes,dummy

[parsearticle]
#Local
#data_root_dir = /home/alex/Desktop/dsforthepeople/data
#data_root_dir = /home/maevyn/Documents/dsforthepeople/data
#AWS
data_root_dir = /data
